[Unit]
Description=girl.technology main site
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=bot-girl-technology
WorkingDirectory=/home/ubuntu/girl.technology
ExecStart=/home/bot-github_webhook_watcher/.cargo/bin/girl_technology

[Install]
WantedBy=multi-user.target
