{% extends "default.html.jinja" %}
{% block title %}{{category}}.girl.technology{% endblock title %}
{% block banner %}
<h1><a href="{{main_url}}">{{category}}.girl.technology</a></h1>
{% endblock banner %}
{% block main %}
<ol>
  {% for listing in listings %}
  <li>
    <a href="{{listing.url}}" target="_blank">{{listing.url}}</a>
  </li>
  {% endfor %}
</ol>
{% endblock main %}
