{% extends "default.html.jinja" %} {% block bannertext %}Hello, World!{%
endblock bannertext %} {% block main %}
<p>
  This is the home of a site whose vision is outlined at
  <a href="https://github.com/p0lyw0lf/girl.technology"
    >https://github.com/p0lyw0lf/girl.technology</a
  >.
  Basically, this site is a link directory, where you can add your own links to
  a fancy URL. For example, because the file
{% set example_url = "wolf" | category_to_url %}
  <a href="https://wolfgirl.dev/.well-known/girl.technology"
    >https://wolfgirl.dev/.well-known/girl.technology</a
  >
  exists and is the string "wolf", the page
  <a href="{{ example_url | safe }}">{{ example_url | safe }}</a> contains the
  url <a href="https://wolfgirl.dev/">https://wolfgirl.dev/</a> (my blog!).
</p>
<p>
  You can add your own page by going to <a href="/new">/new</a> and following
  the instructions. Do it! <a href="/new">Do it now!!!</a>
</p>
<h3>Update 2024-08-14:</h3>
<p>
  This site is also a Bluesky <a href="https://github.com/bluesky-social/pds"
    >PDS</a
  >
  for my account <a href="https://bsky.app/profile/wolf.girl.technology"
    >@wolf.girl.technology</a
  >.
  You can find more of my socials at <a href="https://wolfgirl.dev/links/"
    >https://wolfgirl.dev/links/</a
  >.
</p>
{% endblock main %}
