{% extends "default.html.jinja" %}
{% block bannertext %}Hello, World!{% endblock bannertext %}
{% block main %}
<p>
This is the future home of a site whose vision is outlined at <a href="https://github.com/p0lyw0lf/girl.technology"><code>p0lyw0lf/girl.technology</code></a>.
</p>
<p>
Currently, all that's set up is a bit of <a href="https://github.com/p0lyw0lf/infrastructure">infrastructure</a> and a singular database entry for my own website, <a href="https://wolfgirl.dev/">wolfgirl.dev</a>.
</p>
{% endblock main %}
