{% extends "default.html.jinja" %}
{% block title %}girl.technology listing{% endblock title %}
{% block main %}
{% for category in categories %}
<h2><a href="{{ category | category_to_url }}">{{ category }}</a></h2>
{% endfor %}
{% endblock main %}
