{% extends "default.html.jinja" %} {% block title %}girl.technology listing{%
endblock title %} {% block main %}
<ul>
  {% for listing in listings %}
  <li>
    <h2>
      <a href="{{ listing.category | category_to_url }}"
        >{{ listing.category }}:</a
      >
    </h2>
    <a href="{{ listing.url }}">{{ listing.url }}</a>
  </li>
  {% endfor %}
</ul>
{% endblock main %}
